@import url('https://fonts.googleapis.com/css?family=Bungee|Libre+Franklin');

body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0px;
}

.header{
  background-color: #5cdb95;
}

.title {
  position: relative;
  text-align: center;
  font-size: 6em;
  font-family: 'Bungee', cursive;
  color: #edf5e1;
  animation-duration: 1.5s;
  animation-name: titleLoad;
}

.label-div {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.button-div {
  text-align: center;
  padding-bottom: 10px;
}

.lists {
  padding-top: 25px;
  text-align: center;
  font-family: 'Bungee', cursive;
}

.list {
  min-height: 300px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}

/* LIST ITEM STYLES */
.list-item {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5em;
}

.fa-square {
  float: left;
}

.fa-edit {
  float: right;
}

.fa-minus-square {
  float: right;
}

/* Animations */

@keyframes titleLoad {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
