@import url('https://fonts.googleapis.com/css?family=Bungee|Libre+Franklin');

.container-fluid {
  padding: 0px;
}

.header{
  background-color: #5cdb95;
}

.title {
  position: relative;
  text-align: center;
  font-size: 6em;
  font-family: 'Bungee', cursive;
  color: #edf5e1;
  animation-duration: 1s;
  animation-name: titleLoad;
}

.label-div {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.button-div {
  text-align: center;
  padding-bottom: 10px;
}
.lists {
  padding-top: 25px;
  text-align: center;
  font-family: 'Libre Franklin', sans-serif;
}

.list {
  min-height: 300px;
}

/* Animations */

@keyframes titleLoad {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
